/* Front */
@font-face {
  font-family: JetBrains Mono;
  src: url("./fonts/JetBrainsMono.woff2") format("woff2");
}

img {
  border-radius: 5px;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-font-family-mono:
    "JetBrains Mono", ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace, var(--vp-font-family-base);
}

/**
 * Component: medium-zoom
 * -------------------------------------------------------------------------- */
.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image {
  z-index: 9999 !important;
}

/**
 * Component: bprogress
 * -------------------------------------------------------------------------- */
.bprogress {
  --bprogress-color: var(--vp-c-brand-1);
  --bprogress-box-shadow: none;
  position: fixed !important;
}
